{% extends "base.html" %}

{% block title %}Update Item{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Update Item</h2>
    <form action="/item/{{ item_id }}/update" method="POST" class="mt-3">
        <div class="mb-3">
            <label for="item-value" class="form-label">Value:</label>
            <input type="text" id="item-value" name="value" value="{{ item_value }}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-warning w-100">Update</button>
    </form>
</div>
{% endblock %}
